 *,*::after, *::before{
    margin: 0px;
    padding: 15px;
}

body{
    background-color:chartreuse;
    margin: 0px;
    box-sizing: border-box;
}
    


.hero{
    text-align: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    background-color: grey;
    
}
 .hero:hover{
    color:red;
}
h1{
    text-align: center;
    color:orange;

}
 p{
font-family:  sans-serif;
font-weight: 300;
font-size: 30px;
text-align: center;
margin: 10px 60px 30px 60px;

}

.container-margin{
    text-align: center;
    background-color: grey;
    font-size: 20px;

}
#outcome{
    text-align: center;
    color: brown;
    font-size: larger;
    font-weight: 700;
    background-color: grey;
    margin: 40px; 
    
    
}
 